<div class="bg-light border rounded-3 container-fluid">
	<h2>Hard and Soft Skills</h2>
	<div class="row centered">
		<div id="progress" class="skill-html5">
			<div id="progress-value">
				<b class="skill-text">
					HTML% <br> Intermedio
				</b>
			</div>
		</div>
		<div id="progress" class="skill-css3">
			<div id="progress-value">
				<b class="skill-text">
					CSS3 <br> Intermedio
				</b>
			</div>
		</div>
		<div id="progress" class="skill-js">
			<div id="progress-value">
				<b class="skill-text">
					JS <br> Intermedio
				</b>
			</div>
		</div>
	</div>
	<div class="row centered">
		<div id="progress" class="skill-html5">
			<div id="progress-value">
				<b class="skill-text">
					HTML% <br> 90%
				</b>
			</div>
		</div>
		<div id="progress" class="skill-css3">
			<div id="progress-value">
				<b class="skill-text">
					CSS3 <br> 70%
				</b>
			</div>
		</div>
		<div id="progress" class="skill-js">
			<div id="progress-value">
				<b class="skill-text">
					JS <br> 70%
				</b>
			</div>
		</div>
	</div>
</div>