<div class="border rounder-3 container-fluid bg-dark">
	<img src="assets/img/banner.jpg" style="width:100%;object-fit: cover;">
	<img src="assets/img/profile.png" class="rounded-circle profile-img"
		style="margin-top: -100px;width: 200px; background-color: #ddd;">
	<div class="row">
		<div class="col-6 col-md-4">
			<div class="fullname">
				<div class="buttons" *ngIf="authService.getToken();">
					<app-edit-button *ngIf="edittingName==false" (click)="editName();"></app-edit-button>
					<ng-container *ngIf="edittingName==true">
						<app-v-button (click)="saveName();"></app-v-button>
						<app-x-button (click)="resetName();"></app-x-button>
					</ng-container>
				</div>
				<div class="h3">
					<span [attr.contenteditable]="edittingName" #lastName>{{data.lastName}}</span>,
					<span [attr.contenteditable]="edittingName" #firstName>{{data.firstName}}</span>
				</div>
			</div>
			<h4>Full Stack Developer: Java/Angular</h4>
			<div>
				<div class="buttons" *ngIf="authService.getToken();">
					<app-edit-button *ngIf="edittingContact==false" (click)="editContact();"></app-edit-button>
					<ng-container *ngIf="edittingContact==true">
						<app-v-button (click)="saveContact();"></app-v-button>
						<app-x-button (click)="resetContact();"></app-x-button>
					</ng-container>
				</div>
				<ul>
					<li>Email: <span [attr.contenteditable]="edittingContact" #email>{{data.email}}</span></li>
					<li>Tel: <span [attr.contenteditable]="edittingContact" #phoneNumber>{{data.phoneNumber}}</span></li>
				</ul>
			</div>
		</div>
		<div class="col-md-8">
			<div class="buttons" *ngIf="authService.getToken();">
				<app-edit-button *ngIf="edittingAbout==false" (click)="editAbout();"></app-edit-button>
				<ng-container *ngIf="edittingAbout==true">
					<app-v-button (click)="saveAbout();"></app-v-button>
					<app-x-button (click)="resetAbout();"></app-x-button>
				</ng-container>
			</div>
			<h3>Sobre mí</h3>
			<div [attr.contenteditable]="edittingAbout" #aboutMe>
				{{data.about}}
			</div>
		</div>
	</div>
</div>