<div class="border rounder-3 container-fluid">
	<img class="banner-img" src="assets/img/banner.jpg">
	<div style="margin-top: -100px; width: 200px;">
			<img src="{{data.photo??'assets/img/profile.png'}}" class="rounded-circle profile-img" 
			style="background-color: #ddd;width: 100%; box-sizing: border-box; object-fit: cover;">
		<div class="buttons" style="margin-top: -30px;" *ngIf="authService.getToken();">
			<app-loading-spinner *ngIf="loading_photo_link"></app-loading-spinner>
			<app-edit-button (click)="changePhotoLink();"></app-edit-button>
		</div>
	</div>
	
	<div id="about" class="row">
		<div class="col-6 col-md-4">
			<div class="fullname">
				<div class="buttons" *ngIf="authService.getToken();">
					<app-loading-spinner *ngIf="loading_names"></app-loading-spinner>
					<app-edit-button (click)="changeNames();"></app-edit-button>
				</div>
				<div class="h3">
					<span>{{data.lastName}}</span>,
					<span>{{data.firstName}}</span>
				</div>
			</div>
			<h4>{{data.job}}</h4>
			<div>
				<div class="buttons" *ngIf="authService.getToken();">
					<app-loading-spinner *ngIf="loading_contacts"></app-loading-spinner>
					<app-edit-button (click)="changeContact();">
					</app-edit-button>
				</div>
				<ul>
					<li>Email: <span>{{data.email}}</span></li>
					<li>Tel: <span>{{data.phoneNumber}}</span></li>
				</ul>
			</div>
		</div>
		<div class="col-md-8">
			<div class="buttons" *ngIf="authService.getToken();">
				<app-loading-spinner *ngIf="loading_about"></app-loading-spinner>
				<app-edit-button (click)="editAbout();"></app-edit-button>
			</div>
			<h3>Sobre mí</h3>
			<div>
				{{data.about}}
			</div>
		</div>
	</div>
</div>