<div class="border rounded-3 container-fluid">
    <h2>Experiencia</h2>
    <ng-container *ngIf="data.length!=0; else nocontent">
        <ng-container *ngFor="let experience of data; let i = index">
            <app-experience-card [data]="experience" [attr.id]="i" (delete)="delete(i);"></app-experience-card>
        </ng-container>
    </ng-container>
    <div class="p-3 d-flex justify-content-center">
        <app-add-button (click)="add();"></app-add-button>
    </div>
    <ng-template #nocontent>
        <i>Sin experiencias</i>
    </ng-template>
</div>