<div class="bg-dark text-white-50">
    <ng-container *ngIf="data!=null; else retrieving">
        <app-about-section [data]="data"></app-about-section>
        <app-experience-section [data]="data.experiences"></app-experience-section>
        <app-education-section [data]="data.educations"></app-education-section>
        <app-skill-section [data]="data.skills"></app-skill-section>
        <app-project-section [data]="data.projects"></app-project-section>
    </ng-container>
    <ng-template #retrieving>Recuperando datos...</ng-template>
</div>