<div class="bg-light border rounded-3 container-fluid">
    <h2>Educacion</h2>
    <div class="row m-4">
        <div class="col-6 col-md-4">
            <img src="assets/img/arg_prog.jpg" width="100%">
        </div>
        <div class="col-md-8">
            <h3>IES Machagai</h3>
            <i>Machagai, Chaco - Argentina</i>
            <h4>Tecnicatura Superior en Desarrollo de Software</h4>
            <i>2021 - actualidad</i>
        </div>
    </div>
    <div class="row m-4">
        <div class="col-6 col-md-4">
            <img src="assets/img/arg_prog.jpg" width="100%">
        </div>
        <div class="col-md-8">
            <h3>EES N° 41 - José Antonio Gotusso</h3>
            <i>Machagai, Chaco - Argentina</i>
            <h4>Ciencias Sociales y Humanidades</h4>
            <i>2013 - 2018</i>
        </div>
    </div>
    <div class="row m-4">
        <div class="col-6 col-md-4">
            <img src="assets/img/arg_prog.jpg" width="100%">
        </div>
        <div class="col-md-8">
            <h3>EEP N° 63 - Juan Bautista Alberdi</h3>
            <i>Machagai, Chaco - Argentina</i>
            <h4>Educacion General Básica</h4>
            <i>2006 - 2012</i>
        </div>
    </div>
</div>