.container-fluid {
  width: 90%;
}
.centered {
  display: flex;
  align-items: center;
  justify-content: center;
}

.center {
  text-align: center;
}

#progress {
  height: 150px;
  width: 150px;
  border-radius: 50%;
  display: grid;
  place-items: center;
  z-index: 105;
  margin: 20px 40px;
}
#progress-value {
  display: block;
  height: 125px;
  width: 125px;
  background-color: #f1f1f1;
  border-radius: 50%;
  padding: 20px;
  font-weight: 600;
  z-index: 107;
}

.skill-text {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  text-align: center;
}

.skill-html5 {
  background: conic-gradient(tomato 90%, rgba(255, 99, 71, 0.2) 90%);
}

.skill-css3 {
  background: conic-gradient(steelblue 70%, rgba(70, 130, 180, 0.2) 70%);
}
.skill-js {
  background: conic-gradient(orange 70%, rgba(255, 165, 0, 0.2) 70%);
}
.skill-html5 .skill-text {
  color: tomato;
}
.skill-css3 .skill-text {
  color: steelblue;
}
.skill-js .skill-text {
  color: orange;
}