<div class="row m-4">
    <div class="buttons">
        <ng-container *ngIf="authService.getToken()">
            <app-edit-button (click)="edit();"></app-edit-button>
            <app-delete-button (click)="delete();"></app-delete-button>
        </ng-container>
    </div>
    <div class="col-6 col-md-4">
        <img src="assets/img/somos_mas.png" width="100%">
    </div>
    <div class="col-md-8">
        <h3>{{data.title}}</h3>
        <p>
            <i>{{data.description}}</i><br>
            <a href="https://github.com/alkemyTech/OT298-server">Github Repository</a>
        </p>
    </div>
</div>