<header class="sticky-top">
    <div class="px-3 py-2 text-white">
        <div class="container">
            <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
                <a href="https://www.argentina.gob.ar/economia/conocimiento/argentina-programa"
                    class="d-flex align-items-center my-2 my-lg-0 me-lg-auto text-white text-decoration-none"
                    target="_blank">
                    <img src="assets/img/programa.png" class="bi me-2" width="40" height="32" role="img" />
                    #ArgentinaPrograma
                </a>
                <ul class="nav col-12 col-lg-auto my-2 justify-content-center my-md-0 text-small">
                    <li>
                        <a href="#inicio" class="nav-link"
                            target="_blank">
                            Inicio
                        </a>
                    </li>
                    <li>
                        <a href="#sobre" class="nav-link"
                            target="_blank">
                            Sobre mí
                        </a>
                    </li>
                    <li>
                        <a href="#experiencia" class="nav-link"
                            target="_blank">
                            Experiencia
                        </a>
                    </li>
                    <li>
                        <a href="#inicio" class="nav-link"
                            target="_blank">
                            Educación
                        </a>
                    </li>
                    <li>
                        <a href="#inicio" class="nav-link"
                            target="_blank">
                            Habilidades
                        </a>
                    </li>
                    <li>
                        <a href="#inicio" class="nav-link"
                            target="_blank">
                            Proyectos
                        </a>
                    </li>
                    <li>|</li>
                    <li>
                        <app-loading-spinner *ngIf="waiting_for_login"></app-loading-spinner>
                    </li>
                    <li>
                        <a href="javascript:void(0);" class="nav-link" *ngIf="!authService.getToken()&&!waiting_for_login"
                            (click)="login();">
                            <i class="bi bi-box-arrow-in-left"></i>
                        </a>
                        <a href="javascript:void(0);" (click)="logout();" class="nav-link"
                            *ngIf="authService.getToken()">
                            <i class="bi bi-box-arrow-in-right"></i>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</header>