<div class="form-container">
    <div>
        <h1>Iniciar sesión</h1>
        <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Email address</label>
            <input placeholder="email" [(ngModel)]="user.username" type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
            <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
        </div>
        <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Password</label>
            <input placeholder="password" [(ngModel)]="user.password" type="password" class="form-control" id="exampleInputPassword1">
        </div>
        <div *ngIf="passusererror" style="color: red;">
            Verifique que el usuario y contraseña sean correctos
        </div>
        <button type="submit" class="form-control btn btn-primary" (click)="login()">Iniciar sesión</button>
        <a href=".">Volver</a>
    </div>
</div>