<div class="bg-light border rounder-3 container-fluid">
	<img src="assets/img/banner.jpg" style="width:100%;object-fit: cover;">
	<img src="assets/img/profile.png" class="rounded-circle profile-img" style="margin-top: -100px;width: 200px; background-color: #ddd;">
	<div class="row">
    	<div class="col-6 col-md-4">
    		<h3>Montenegro, Eliseo</h3>
    		<h4>Full Stack Developer: Java/Angular</h4>
    		<div>
    			<ul>
    				<li>Email: secondmtx@gmail.com</li>
    				<li>Tel: +54 9 3721 44 4102</li>
    			</ul>
    		</div>
    	</div>
    	<div class="col-md-8">
    		<h3>Acerca de</h3>
    		<div>
    			Soy una persona proactiva, excelente compañero de equipo, organizado y responsable. Disfruto mucho aprender cosas nuevas, por lo que mi objetivo es un puesto desafiante y dinámico donde poder compartir mi experiencia y a su vez sumar nuevos conocimientos.
    		</div>
    	</div>
  	</div>
</div>