<div class="row m-4">
    <div class="buttons" *ngIf="authService.getToken()">
        <app-warning-badge *ngIf="!saved" [text]="'Hay cambios sin guardar'"></app-warning-badge>
        <app-loading-spinner *ngIf="saving"></app-loading-spinner>
        <ng-container *ngIf="editting==false">
            <app-edit-button (click)="edit();"></app-edit-button>
            <app-delete-button (click)="delete(false);"></app-delete-button>
        </ng-container>
        <ng-container *ngIf="editting==true">
            <app-v-button (click)="save();"></app-v-button>
            <app-x-button (click)="reset();"></app-x-button>
        </ng-container>
    </div>
    <div class="col-6 col-md-4">
        <img src="assets/img/arg_prog.jpg" width="100%">
    </div>
    <div class="col-md-8">
        <div class="h3" [attr.contenteditable]="editting" #title>{{data.title}}</div>
        <div [attr.contenteditable]="editting" #description>{{data.description}}</div>
        <div class="h4" [attr.contenteditable]="editting" #institution>{{data.institution}}</div>
        <div [attr.contenteditable]="editting" #aboutInstitution>{{data.aboutInstitution}}</div>
    </div>
</div>