<div class="bg-light border rounded-3 container-fluid">
    <h2>Proyectos</h2>
    <div *ngFor="let project of data" class="row m-4">
        <div class="col-6 col-md-4">
            <img src="img/somos_mas.png" width="100%">
        </div>
        <div class="col-md-8">
            <h3>{{project.title}}</h3>
            <p>
                <i>{{project.description}}</i>
                <a href="https://github.com/alkemyTech/OT298-server">Github Repository</a>
            </p>
        </div>
    </div>
</div>